
<html>
<link rel="stylesheet" href="static/css/loading_style.css">
  <head></head>
  <body>
    <div class="body"><span><span></span><span></span><span></span><span></span></span>
      <div class="base"><span></span>
        <div class="face"></div>
      </div>
    </div>
    <div class="longfazers"><span></span><span></span><span></span><span></span></div>
    <h1>Redirecting</h1>
  </body>
  <script>
        // Redirect to another page after 5 seconds
        setTimeout(function() {
            window.location.href = "/";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</html>
